html,body {
	background:#f5f6f1;
}
.mt30{
	margin-top:30px;
}
.color_white{color:#fff !important;}
//头部
.minh_30{min-height: 30px;}
.height30{height: 30px;}
.navbar_a{padding-top: 0;padding-bottom: 0;line-height: 30px;}
.margintb{margin-top: 0;margin-bottom: 0;}