<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>猫阅-文章列表</title>
		<link rel="stylesheet" type="text/css" href="../../dist/public/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/public/mincss/common/index.min.css" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse minh_30 height30">
			<div class="container-fluid height30">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand height30 color_white navbar_a" href="#">
						CatScope
					</a>
				</div>
				<p class="navbar-text navbar-right height30 margintb" style="margin-right: auto;">
					<a href="#" class="navbar-link color_white navbar_a">reg | log</a>
				</p>
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<!-- Table -->
				<table class="table" border="1" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>文章</th>
							<th>作者</th>
							<th>日期</th>
							<th>更多参与</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>文章名</td>
							<td>作者名</td>
							<td>2019-5-14</td>
							<td><span>点赞</span> | <span>评论</span> | <span>收藏</span> | <span>转发</span> | <span>打赏</span></td>
						</tr>
						<tr>
							<td>文章名</td>
							<td>作者名</td>
							<td>2019-5-14</td>
							<td><span>点赞</span> | <span>评论</span> | <span>收藏</span> | <span>转发</span> | <span>打赏</span></td>
						</tr>
						<tr>
							<td>文章名</td>
							<td>作者名</td>
							<td>2019-5-14</td>
							<td><span>点赞</span> | <span>评论</span> | <span>收藏</span> | <span>转发</span> | <span>打赏</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../dist/public/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../dist/public/assets/js/bootstrap.min.js"></script>
</html>
